project = "awesome-project"
bucket = "production.appspot.com"
image =  "bin"
tag = "latest"
object = "containers/images"
path = "/home/app"

[run_command]
path = "/home/app/awesome-project/current/awesome-bin"
args = ["start"]